*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
}
/* block-4 */
.block-4{
    margin-top: 50px;
}
.block-4-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.block-4-item{
margin-top: 30px;
position: relative;
width: 50%;
padding-right: 15px;
padding-left: 15px;
transition: 0.3s ease-in;
} 
.block-4-item:hover {
border: 1px solid #f6f6f6;    
}
.block-4-item:hover h4{
color: #009f4d;    
}
.block-4-item a{
text-decoration: none;
}

.block-direction{
    background-color: transparent;
    display: flex;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 2rem 1rem;
    transition: 0.3s ease-in;
}

.block-4-img{
    position: relative;
    max-width: 25%;
    
}
.block-4-img img{
    max-width: 100%;
    height: auto;

}
.block-4-content{
    max-width: 75%;
    flex-grow: 1;
}
.block-4-content h4{
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
    font-family:serif;

}
.block-4-content p{
    margin-top: 10px;
    font-size: 17px;
    line-height: 27px;
    color: #707070;
}
/* gallery */
.gallery{
    margin-bottom: 1.5em;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    grid-gap: 0.5em; 
}
.gallery-grids{
    display: flex;
    flex-wrap: wrap;
}
.gallery-img{
    position: relative;
    padding: 0;
    
}
.gallery-effect{
    position: relative;
}
.mt-sm-2{
    margin-top: 0.5rem;
}
.gallery-title{
    color: #fb811e;
    font-size: 22px;
}
.gall-text{
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}
.gallery-effect h3{
    font-size: 35px;
    line-height: 45px;
    color: #060606 ;
}
.gallery-effect p{
    font-size: 17px;
    line-height:26px;
    color: #707070;
    margin-top: 0.5rem;
    margin-bottom: 60px;
}
.gallery-effect a{
    text-decoration: none;
    overflow: hidden;
}
.img-gallery{
    background-color: transparent;
}
.img-gallery img{
    width: 100%;
    max-width: 100%;
    height: auto;

}
.overlay-gallery{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    overflow: hidden;
    position: relative;
    margin: 0;
}
 
.ovelay-gallery::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-17deg);
    -moz-transform: skewX(-17deg);
    -o-transform: skewX(-17deg);
    -ms-transform: skewX(-17deg);
    transform: skewX(-17deg);
   
}

.ovelay-gallery:hover::before{
    -webkit-animation: shine .95s;
    -moz-animation: shine .95s;
    animation: shine .95s;
}
@-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  
 
    

.button{
   font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 20px 30px;
    font-weight: 600;
    background:#fb811e ;
    border: none;
    color: #fff;
    border-radius: 30px;
    transition: all .25s ease-in-out;

}
.button:hover{
    background: #009f4d;
    color:#fdfefd ;
}

/* clients */
.clients{
    background: url(./img/bg1.jpg) !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: var(--bg-light);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 1;
}
.clients::before{
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    box-sizing: inherit;
}
.caro-container{
    width: 100%;
    padding-right:150px;
    padding-left: 150px;
    margin-right: auto;
    margin-left: auto;
}

.clients .caro-flex {
    display: flex;
}
.caro-left{
    text-align: center;
    max-width: 30%;
    flex-grow: 1;
}
.caro-left img{
    width: 80%;
    max-width: 80%;
    height: auto;
    border-radius: 180px ;
}
.caro-left h3{
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 5px;
    color: #fff;
}
.caro-left p{
    color: #fff;
    font-size: 16px;

}
.caro-right{
    max-width: 70%;
    margin-left: 30px;
    flex-grow: 3;
}
.caro-right i{
    font-size: 20px;
    color: #fb811e;
    font-weight: 600;
    display: inline-block;
}
.caro-right p{
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    text-indent: 30px;
    display: block;
}
/* footer */
.footer-container{
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
}

.footer-content{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    font-family: sans-serif;
}
.footer-content a{
    text-decoration: none;
}
.order-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-logo{
    color: #060606;
    font-family: serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 28px;
}
.logo{
    font-size: 32px;
    color: #fb811e;
    padding: 0px;
    position: relative;
    transition: 0.5s all;
}
.logo:hover{
    color: #060606;
}
.logo i{
    position: absolute;
    top: -6px;
    left: 46px;
    font-size: 20px;
}
.footer-p1{
    line-height: 26px;
    font-size: 17px;
    color: #707070;
}
.footer-copy{
    line-height: 26px;
    font-size: 17px;
    color: #707070;
}
.footer-copy a{
    color: #009f4d;
    transition: 0.5s all;
}
.footer-copy a:hover{
    color: #fb811e;
}
.footer-contact{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-family: sans-serif;
}
.footer-contact h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #060606;
}
.column-2 p{
    line-height: 24px;
    font-size: 17px;
    color: #707070;
}
.column-2 a{
    background-color: transparent;
    transition: .5s all;
    color: #707070;
}
.column-2 a:hover{
    color: #fb811e
}

.order-1{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-family: sans-serif;
}
.order-1 h3{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #060606;
}
.order-1 p{
    line-height: 24px;
    font-size: 17px;
    color: #707070;
}
.subscribe{
    display: flex;
}
.subscribe input{
    background: #f4f4f4;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee;
    border-radius: 30px 0px 0px 30px;
}
.subscribe input p{
    line-height: 26px;

}
.subscribe button{
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    transition: 0.5s all;

}
.subscribe button:hover{
    opacity: .8;
}
.footer-social ul{
    display: flex;
}
.footer-social a{

    display: inline-block;
    margin-right: 5px;
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s all;
}
.footer-social a:hover {
    color: #fb811e;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);

}
.footer-social i{
    font-size: 15px;
    line-height: 35px;

}
#movetop{
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 9;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background: #009f4d;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    padding: 0;
}
#movetop i{
    color: #fff;
}
